@layout('layouts.app')
 
@section('content')

<div id='page'>
    <div id='content'>
        <div class="about_para">
            <p>We are delighted</p>
        </div>
    </div>

    <div style="clear: both;">&nbsp;</div>
</div>

@endsection